.profileSettingsButton {
  border-radius: 50%;
  border-style: none;
  background-color: transparent;
  color: var(--primary-text-color);
  cursor: pointer;
  font-size: 20px;
  line-height: 1em;
  padding: 10px;
  transition: background 0.2s ease-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.profileSettingsButton:hover {
  background-color: var(--side-nav-hover-color);
  color: var(--side-nav-hover-text-color);
  transition: background 0.2s ease-in;
}

.profileSettingsButton:active {
  background-color: var(--tertiary-text-color);
  color: var(--side-nav-active-text-color);
  transition: background 0.2s ease-in;
}

.profileSettingsButton .navIcon {
  inline-size: 1em;
}

.profileButtons {
  display: flex;
  flex-wrap: nowrap;
  gap: 5px;
  overflow: auto hidden;
  max-inline-size: 100%;
  padding-block: 5px;
  padding-inline: 5px;
  block-size: 36px;
  align-items: center;
}

.profileButton {
  border: 1px solid var(--primary-color);
  border-radius: 6px;
  background: transparent;
  color: var(--primary-text-color);
  cursor: pointer;
  line-height: 1;
  padding-block: 8px;
  padding-inline: 10px;
  white-space: nowrap;
}

.profileButton:hover {
  background-color: var(--side-nav-hover-color);
  color: var(--side-nav-hover-text-color);
}

.profileButton.active {
  background-color: var(--primary-color);
  color: var(--text-with-main-color);
}
