h2,
.selectedCount {
  text-align: center;
}

.hideFromTopButtonsOption {
  display: flex;
  justify-content: center;
  margin-block: 8px 12px;
  margin-inline: 0;
}

.hideFromTopButtonsOption .hideFromTopButtonsCheckbox {
  border: 0;
  clip-path: circle(0);
  block-size: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  inline-size: 1px;
}

.hideFromTopButtonsOption label {
  position: relative;
  padding-inline-start: 2em;
  user-select: none;
  cursor: pointer;
  display: inline-block;
}

.hideFromTopButtonsOption label::before {
  box-sizing: content-box;
  content: '';
  color: var(--primary-text-color);
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 0;
  inline-size: 14px;
  block-size: 14px;
  margin-block-start: -9px;
  border: 2px solid var(--primary-text-color);
  text-align: center;
  transition: all 0.2s ease;
}

.hideFromTopButtonsOption label::after {
  box-sizing: content-box;
  border-style: solid;
  border-image: none;
  border-width: 0 0 3px 3px;
  content: '';
  background-color: transparent;
  position: absolute;
  inset-block-start: 50%;
  inset-inline-start: 4px;
  inline-size: 8px;
  block-size: 3px;
  margin-block-start: -4px;
  transform: rotate(-45deg) scale(0);
  transform-origin: 50%;
  transition: transform 200ms ease-out;
}

.hideFromTopButtonsOption .hideFromTopButtonsCheckbox:focus + label::before,
.hideFromTopButtonsOption .hideFromTopButtonsCheckbox:hover + label::before {
  border: 2px solid var(--primary-color);
}

.hideFromTopButtonsOption .hideFromTopButtonsCheckbox:checked + label::after {
  transform: rotate(-45deg) scale(1);
}

.card {
  inline-size: 85%;
  margin-block: 0 15px;
  margin-inline: auto;
}

@media only screen and (width <= 680px) {
  .card {
    inline-size: 90%;
  }
}
