h2,
.selectedCount {
  text-align: center;
}

.card {
  inline-size: 100%;
  margin-block: 0 15px;
  margin-inline: auto;
  box-sizing: border-box;
}

@media only screen and (width <= 680px) {
  .card {
    inline-size: 100%;
  }
}
