.select {
  min-inline-size: 240px;
  inline-size: auto;
}

.switchGrid {
  gap: 10px;
  margin-block-end: 12px;
}

.cardStyleSettings {
  flex-wrap: wrap;
  gap: 24px;
  align-items: flex-end;
  justify-content: center;
  margin-block: 8px 12px;
}
